/*----------------------Form handling----------------------*/
form span
{
    margin-left:20px;
    float: left;
}
form input
{
    vertical-align:bottom;
    float:right;
    margin-right:20px;
    border-radius:5px;
    border: 1px solid #555;
    padding:5px;
}
.submit
{
    padding:5px;
    background:#558;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
}
.submit:hover
{
    padding:5px;
    background:#88a;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
}
.formFrame
{
    top:50px;
    left:50px;
    width:750px;
    background:#ddf;
    padding:15px;
    border: 1px solid #333; border-radius: 5px;
    font:normal 1em arial;
    position:relative;
}
h2
{	left:60px;
    margin-top:50px;
    margin-bottom:-40px;

    font:bold 2em arial;
    position:relative;
}
/*----------------------END Form handling----------------------*/

/*--------------------------header--------------------------*/
img {
    float:left;
    margin-left:10%;
    margin-top: 5px;
    position:relative;
    max-width:12%;
    height: auto;
    min-width:100px;
    /*width: auto\9; /* ie8 */

}
.header_container {
    width:100%;
    height:150px;
    margin-left: -8px;
    margin-top: -8px;px;
    background-color:#abd;
    /*background-image: url("image/header_bckgr.png");*/
}

#main-menu{
    float:right;
    margin-right:10%;
    margin-top: 5px;
}
.menu{
        font:normal 1.15em Arial;
}
.menu ul{
    list-style-type: none;
    float:right;
}
.menu ul li{
    display: inline;
}
.menu a:link, .menu a:active, .menu a:visited{
    color:#ae0909;
    text-decoration: none;
}
.menu a:hover{
    color:#333;
    text-decoration: none;
}
.login_link{
    font-weight:bold;
}
/*--------------------------END header--------------------------*/