/*----------------------Form handling----------------------*/
form span
{
    margin-left:15px;
    float: left;
}
#gender form span
{
    margin-left:50px;
    float: left;
}
form span input
{
    padding-left:50px;
    margin-left:40px;
    float: right;
}

form input, form select,form textarea, #cancel
{
    //vertical-align:bottom;
    float:right;
    margin-right:0px;
    border-radius:5px;
    border: 1px solid #555;
    padding:5px;
}
form label {
    vertical-align: top;
    margin-left:20px;
    float: left;
}
form textarea{
    resize:none;
    width: 66%;
    height:150px;
}
form select
{
    width:68%;
}
form input
{
    width:66%;
    margin-left:50px;
}
.submit,  .submit #cancel a:link , .submit #cancel a:active , .submit #cancel a:visited
{
    width:70px;
    float:right;
    padding:5px;
    background:#558;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
    margin-left: 5px;
    cursor: pointer;


}
.submit:hover, .submit a:hover #cancel
{
    width:70px;
    float:right;
    padding:5px;
    background:#88a;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
    margin-left: 5px;
    cursor: pointer;


}
.reset
{
    width:70px;
    vertical-align: bottom;
    float:right;
    padding:5px;
    background:#ae0909;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
    margin-left: 5px;
    cursor: pointer;


}
.reset:hover
{
    width:70px;
    float:right;
    padding:5px;
    background:#88a;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
    margin-left: 5px;
    cursor: pointer;

}
.edit
{
    width:70px;
    vertical-align: bottom;
    float:right;
    padding:5px;
    background:#33aa77;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
    margin-left: 5px;
    cursor: pointer;


}
.edit:hover
{
    width:70px;
    float:right;
    padding:5px;
    background:#88a;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
    margin-left: 5px;
    cursor: pointer;

}
.delete
{
    width:70px;
    vertical-align: bottom;
    float:right;
    padding:5px;
    background:red;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
    margin-left: 5px;
    cursor: pointer;

}
.delete:hover
{
    width:70px;
    float:right;
    padding:5px;
    background:#88a;
    font:normal 1em arial;
    border:1px solid #555;
    color:#CCC;
    margin-top:-5px;
    margin-left: 5px;
    cursor: pointer;
}
.formFrame
{
    margin-top:50px;
    margin-left:50px;
    width:100%;
    background:#ddf;
    padding: 15px;
    padding-bottom:35px;
    padding-top:35px;
    border: 1px solid #333; border-radius: 5px;
    font:normal 1em arial;
    position:relative;

}
form div {
   width:100%;
   display: table-row-group;

}


h2
{
    left:60px;
    margin-top:50px;
    margin-bottom:-40px;
    font:bold 2em arial;
    position:relative;
}
/*----------------------END Form handling----------------------*/

body {
    background-repeat: repeat-x;

}
/*--------------------------header--------------------------*/
img {
    float:left;
    margin-left:10%;
    margin-top:5px;
    position:relative;
    vertical-align:bottom;
    max-width:11%;
    height: auto;
    min-width:100px;
    /*width: auto\9; /* ie8 */

}
#header {
    top:0px;
    left:0px;
    margin-left: -8px;
    margin-top: -8px;
    width:110%;
    height:150px;
    background-color:#abd;
    background-image: url('image/header_bckgr.png');
    background-repeat: repeat-x;

    position:relative;
}
.header_container {
    width:100%;
    height:150px;
    padding:5px;


    background-repeat: no-repeat;

}

#main-menu{
    float:right;
    margin-right:15%;

}
.menu{
    font:normal 1.15em Arial;
}
.menu ul{
    list-style-type: none;
    float:right;
}
.menu ul li{
    display: inline;
}
.menu a:link, .menu a:active, .menu a:visited{
    color:#ae0909;
    text-decoration: none;
}
.menu a:hover{
    color:#333;
    text-decoration: none;
}
.login_link{
    font-weight:bold;
}
/*--drop down menus--*/
.dropbtn {
    padding: 0px;
    font:normal 18px Arial;
    background:none;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a:link,.dropdown-content a:active,.dropdown-content a:visited {
    color:#ae0909;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
}
/*--END dropdown menus--*/
/*--------------------------END header--------------------------*/
/*--------------------------Main--------------------------------*/
#main
{
    margin-top:50px;
    left:5%;
    width:70%;
    font: normal 1em arial;
    position:relative;
}
#article_title h1 {
    color: #555588;
    font: italic 1em arial;


}
/*--------------------------END Main---------------------------*/